/* .card{
    background-image:url("./Main.jpg");
    background-repeat: no-repeat;
  background-size: cover;

} */
.card{
  border-radius: 15px;
  /* background-color: #003554; */
  background-color: #032030;
  color: aliceblue;
  
}

/* .tableCard {
  background-color: red;
} */